<section class="similars">
	<div class="similars__container base-container">
		<div class="similars__topline">
			<h1 class="similars__title base-title">@@main_title</h1>
			<a class="similars__more-link base-link" href="#">@@main_more_link</a>
		</div>
		<div class="similars__body">
			<div class="similars__item">
				<figure class="similars__item-image base-figure">
					<img class="similars__item-img" src="@@img" width="416" height="250" alt="#" />
				</figure>
				<span class="similars__item-date">@@date</span>
				<a class="similars__source-link base-link" href="#">@@source</a>
				<h2 class="similars__item-title base-title">@@title</h2>
				<p class="similars__item-text base-par">@@text</p>
			</div>

			<div class="similars__item">
				<figure class="similars__item-image base-figure">
					<img class="similars__item-img" src="@@img_2" width="416" height="250" alt="#" />
				</figure>
				<span class="similars__item-date">@@date_2</span>
				<a class="similars__source-link base-link" href="#">@@source_2</a>
				<h2 class="similars__item-title base-title">@@title_2</h2>
				<p class="similars__item-text base-par">@@text_2</p>
			</div>

			<div class="similars__item">
				<figure class="similars__item-image base-figure">
					<img class="similars__item-img" src="@@img_3" width="416" height="250" alt="#" />
				</figure>
				<span class="similars__item-date">@@date_3</span>
				<a class="similars__source-link base-link" href="#">@@source_3</a>
				<h2 class="similars__item-title base-title">@@title_3</h2>
				<p class="similars__item-text base-par">@@text_3</p>
			</div>
		</div>
	</div>
</section>