<section class="similars">
  <div class="similars__container base-container">
    <div class="similars__topline">
      <h1 class="similars__title base-title"></h1>
      <a class="similars__more-link base-link" href="#"></a>
    </div>
    <div class="similars__body">
      <div class="similars__item">
        <figure class="similars__item-image base-figure">
          <img class="similars__item-img" src="@@source" width="416" height="250" alt="">
        </figure>
        <span class="similars__item-date"></span>
        <a class="similars__source-link base-link" href="#"></a>
        <h2 class="similars__item-title base-title"></h2>
        <p class="similars__item-text base-par"></p>
      </div>
      <div class="similars__item"></div>
      <div class="similars__item"></div>
    </div>
  </div>
</section>