@use "../mixins";

.aboutPage-features {

  margin: 0 0 80px 0;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: var(--color-shark);

    margin: 0 0 30px 0;
  }

  &__img {
    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__underline {
    display: flex;
    align-items: center;

    width: 100%;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }
  }

  &__underline-item {
    margin: 0 160px 0 0;

    &:last-of-type {
      margin: 0;
    }
  }

  &__underline-title {
    background: var(--gradient-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
  }

  &__underline-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-shark);
  }

  &__underline-button {
    margin: 0 0 0 auto;
  }
}