@use "../mixins";

.about {
  background-image: -webkit-image-set(url("../img/image/design/main-page-about-cover.jpg") 1x,
      url("../img/image/design/main-page-about-cover@2x.jpg") 2x);

  @supports (background: -webkit-image-set(url("../img/image/design/main-page-about-cover.webp") 1x,
      url("../img/image/design/main-page-about-cover@2x.webp") 2x)) {
    background-image: -webkit-image-set(url("../img/image/design/main-page-about-cover.webp") 1x,
        url("../img/image/design/main-page-about-cover@2x.webp") 2x);
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 115px 0 105px 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 30px 0 30px 0;
  }

  @include mixins.respond-to(tabletOnly) {
    padding: 50px 0 50px 0;
  }

  &__container {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;

    @include mixins.respond-to(tablet) {
      align-items: center;
    }

    @include mixins.respond-to(desktopM) {
      align-items: flex-end;
    }
  }

  &__column {
    margin: 0 56px 0 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0;
    }
  }

  &__column-graphic {
    display: block;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }
  }

  &__column-graphic--mobile {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;

      margin: 0 0 35px 0;
    }
  }

  &__column-img {
    height: auto;
    vertical-align: top;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 320px;
    }

    @include mixins.respond-to(desktopS) {
      width: 480px;
    }

    @include mixins.respond-to(desktopM) {
      width: 603px;
    }
  }

  &__column--right {
    display: flex;
    flex-direction: column;

    & h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      color: var(--color-shark);

      padding: 0;
      margin: 0 0 35px 0;
    }

    & p {
      max-width: 530px;

      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: var(--color-shark);

      padding: 0;
      margin: 0 0 70px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 35px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        margin: 0 0 35px 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0;
    }
  }
}