@use "../mixins";

.blog {

  &__container {
    padding: 80px 0 80px 0;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
  }

  &__tabs-button {
    position: relative;

    cursor: pointer;
    user-select: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-boulder);

    transition: font-weight, color 0.1s;

    padding: 0 0 4px 0;
    margin: 0 35px 23px 0;

    &:last-of-type {
      margin: 0 0 23px 0;
    }

    &:hover {
      font-weight: 600;
      color: var(--color-shark);

      transition: font-weight, color 0.1s;
    }
  }

  &__radio-hidden:checked+.blog__tabs-button {
    font-weight: 600;
    color: var(--color-shark);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 2px;
      background-color: var(--color-flush-orange);
    }
  }

  &__news-link {
    position: relative;

    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-hawaiian-tan);

    margin: 0 0 0 auto;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 auto 30px 0;
    }

    &:hover {}
  }

  &__tabs-body {
    display: flex;

    width: 100%;
  }

  &__tabs-item {
    display: none;
    align-items: stretch;

    width: 100%;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }
  }

  #blog_tabs_radio_1:checked~.blog__tabs-body .blog__tabs-item--1 {
    display: flex;
  }

  #blog_tabs_radio_2:checked~.blog__tabs-body .blog__tabs-item--2 {
    display: flex;
  }

  #blog_tabs_radio_3:checked~.blog__tabs-body .blog__tabs-item--3 {
    display: flex;
  }

  #blog_tabs_radio_4:checked~.blog__tabs-body .blog__tabs-item--4 {
    display: flex;
  }

  #blog_tabs_radio_5:checked~.blog__tabs-body .blog__tabs-item--5 {
    display: flex;
  }

  &__tabs-subitem {
    width: 416px;
    min-height: 510px;

    margin-right: 24px;

    &:last-child {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }
  }

  &__subitem-image {
    margin: 0 0 10px 0;
  }

  &__subitem-img {
    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__subitem-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--color-boulder);

    margin: 0 0 30px 0;
  }

  &__subitem-source {
    display: inline-block;

    font-weight: 600;
    font-size: 16px;
    line-height: 130%;

    text-transform: uppercase;
    color: var(--color-flush-orange);

    margin: 0 0 17px 0;
  }

  &__subitem-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: var(--color-shark);

    margin: 0 0 15px 0;
  }

  &__subitem-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-boulder);
  }
}