@use "../mixins";

.feedbackPage-tabs {

  background-image: -webkit-image-set(url("../img/image/design/feedback-page-cover.jpg") 1x,
      url("../img/image/design/feedback-page-cover@2x.jpg") 2x);

  @supports (background: -webkit-image-set(url("../img/image/design/feedback-page-cover.webp") 1x,
      url("../img/image/design/feedback-page-cover@2x.webp") 2x)) {
    background-image: -webkit-image-set(url("../img/image/design/feedback-page-cover.webp") 1x,
        url("../img/image/design/feedback-page-cover@2x.webp") 2x);
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0 0 80px 0;

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: var(--color-shark);

    margin: 0 0 30px 0;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: center;
    }
  }

  #tab_form_1:checked~.feedbackPage-tabs__body .feedbackPage-tabs__forms .feedbackPage-tabs__form-item--1 {
    display: flex;
  }

  #tab_form_2:checked~.feedbackPage-tabs__body .feedbackPage-tabs__forms .feedbackPage-tabs__form-item--2 {
    display: flex;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 261px;
    height: 75px;
    background: transparent;
    border: 1px solid var(--color-fiery-orange);
    border-radius: 18px 0 0 0;
    cursor: pointer;

    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-fiery-orange);

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }

    &:nth-of-type(1) {
      border-radius: 18px 0 0 0;

      @include mixins.respond-to(mobileOnly) {
        border-radius: 18px 18px 0 0;
      }
    }

    &:nth-of-type(2) {
      border-radius: 0 18px 0 0;

      @include mixins.respond-to(mobileOnly) {
        border-radius: 0 0 18px 18px;

        margin: 0 0 20px 0;
      }
    }

    &:hover {
      box-shadow: 0 0 0 1px inset var(--color-fiery-orange);
    }
  }

  &__input-hidden:checked+label {
    background: var(--gradient-main);
    border: none;

    color: var(--color-white);
  }

  &__body {
    display: flex;

    width: 100%;
    background-color: var(--color-frangipani);
    border-radius: 0 18px 18px 18px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      height: auto;
      border-radius: 18px;

      padding: 20px 10px 20px 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;

      height: auto;

      padding: 42px 23px 42px 23px;
    }

    @include mixins.respond-to(desktopS) {
      flex-direction: column;

      height: auto;

      padding: 42px 23px 42px 23px;
    }

    @include mixins.respond-to(desktopD) {
      flex-direction: row;

      height: 423px;

      padding: 42px 72px 42px 23px;
    }
  }

  &__forms {
    margin: 0 30px 0 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 50px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 30px 0;
    }
  }

  &__form-item {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
    }
  }

  &__form-column {
    display: flex;
    flex-direction: column;

    margin: 0 38px 0 0;

    &:last-child {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      order: 2;

      margin: 0;

      &--right {
        order: 1;

        margin: 0 0 30px 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 10px 0 0;

      &--right {
        margin: 0;
      }
    }
  }

  &__form-label {
    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--color-black);

    margin: 0 0 25px 0;

    &:last-of-type {
      margin: 0 0 42px 0;
    }
  }

  &__form-input {
    width: 339px;
    height: 41px;
    background-color: var(--color-white);
    border-radius: 4px;
    border: none;
    outline: none;

    font-family: var(--font-family-default);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-black);

    padding: 10px;
    margin: 6px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
    }
  }

  &__date-start {
    width: 122px;

    margin: 6px 6px 0 0;

    @include mixins.respond-to(mobileOnly) {
      width: 100px;
    }
  }

  &__date-end {
    width: 211px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }
  }

  &__select-block {
    display: flex;
    flex-direction: column;

    margin: 0 0 25px 0;
  }

  &__select-label {
    display: inline-block;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--color-black);

    margin: 0 0 6px 0;
  }

  &__select {
    position: relative;

    width: 339px;
    height: 41px;
    background-color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;

    padding: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      right: 13px;

      width: 14px;
      height: 8px;
      background: url("../../img/image/design/select-arrow.svg");
      background-size: 14px 8px;
      background-position: center;
      background-repeat: no-repeat;

      transition: transform 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }
  }

  &__select--active {
    &::after {
      transform: translateY(-50%);

      transition: transform 0.1s;
    }
  }

  &__select-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-black);
  }

  &__select-options {
    position: absolute;
    left: 0;
    bottom: -105px;

    display: none;
    flex-direction: column;

    width: 339px;
    background-color: var(--color-white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 9px 0 13px 0;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }
  }

  &__select-options--active {
    display: flex;
  }

  &__select-option {
    display: inline-block;

    width: 100%;
    background: transparent;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    color: var(--color-black);

    transition: background 0.3s;

    padding: 5px 0 5px 11px;

    &:hover {
      background: var(--color-frangipani);
      transition: background 0.3s;
    }
  }

  &__date-input {
    display: flex;

    margin: 0 0 25px 0;

    & .feedbackPage-tabs__form-label {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      align-items: flex-end;
      justify-content: space-between;

      width: 100%;

      & .feedbackPage-tabs__form-label {
        width: fit-content;
      }
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
  }

  &__aside-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 20px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0;
    }
  }

  &__top-item {
    display: flex;
    flex-direction: column;

    width: fit-content;

    margin: 0 0 23px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__top-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-black);
  }

  &__top-email {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-fiery-orange);
  }

  &__bottom-tel {
    display: inline-block;

    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: var(--color-black);

    margin: 80px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 30px;

      margin: 50px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 30px 0 0 0;
    }
  }
}