@use "../mixins";

.footer-main {
  display: flex;
  justify-content: space-between;

  width: 100%;

  @include mixins.respond-to(mobileOnly) {
    flex-direction: column;
  }

  &__socials {
    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 30px 0;
    }
  }

  &__socials-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);

    margin: 0 0 6px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 10px 0;
    }
  }

  &__socials-list {
    display: grid;
    grid-template: auto / repeat(4, 23px);
    grid-gap: 25px;
    grid-auto-flow: row;
  }

  &__socials-item {
    display: block;
  }

  &__socials-link {
    display: inline-block;
  }

  &__socials-icon {
    vertical-align: top;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 30px 0;
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;

    width: 100%;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }
  }

  &__nav-item {
    display: flex;
    flex-direction: column;

    margin: 0 114px 0 0;

    &:last-child {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);

    &:first-child {
      margin: 0 0 15px 0;
    }

    @include mixins.respond-to(mobileOnly) {
      &:first-child {
        margin: 0 0 20px 0;
      }
    }
  }
}