@use "../mixins";

.heading {
  width: 100%;
  min-height: 600px;
  background: url('../img/image/content/heading-cover.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  margin: 120px 0 0 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 85px 0 0 0;
  }
}