@use "../mixins";

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 50px;
  background: linear-gradient(90deg, #854E2C 0%, #AB4B10 100%);
  border-radius: 46px;
  cursor: pointer;

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);

  transition: 0.1s;

  padding: 16px 40px 16px 40px;

  &:focus-visible {
    outline: 5px solid var(--color-flush-orange);
    outline-offset: 5px;

    transition: all 0.1s;
  }
}