@use "../mixins";

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  background-color: var(--color-flush-orange);
  border-radius: 46px;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);

  transition: 0.1s;

  padding: 16px 40px 16px 40px;

  &:hover {
    background-color: var(--color-clementine);

    transition: all 0.1s;
  }

  &:active {
    background-color: var(--color-tenn);

    transition: all 0.1s;
  }

  &:focus-visible {
    outline: solid var(--color-flush-orange);
    outline-offset: 5px;

    transition: all 0.1s;
  }
}