@use "../mixins";

.schemePage-map {

  overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 10px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      justify-content: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: var(--color-shark);

    margin: 0 auto 0 0;

    @include mixins.respond-to(mobileOnly) {
      display: inline-block;

      width: 100%;

      margin: 0 0 30px 5%;
    }
  }

  &__tabs-button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 57px;
    height: 56px;
    background: var(--gradient-main);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    transition: outline 0.1s, outline-offset 0.1s;

    margin: 0 17px 0 0;

    &:last-of-type {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 40px;
      height: 40px;

      margin: 0 20px 0 0;

      &:first-of-type {
        margin: 0 20px 0 5%;
      }

      &:last-of-type {
        margin: 0 5% 0 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0);

      width: 100%;
      height: 100%;
      background-color: var(--color-flush-orange);
      border-radius: 50%;

      transition: transform 0.3s;
    }
  }

  &__button-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-white);

    transition: color 0.3s;

    z-index: 2;

    @include mixins.respond-to(mobileOnly) {
      font-size: 20px;
    }
  }

  &__tabs-button:hover::before {
    transform: translateY(-50%) translateX(-50%) scale(1);

    transition: transform 0.3s;
  }

  &__tabs-input:checked+label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);

    width: 100%;
    height: 100%;
    background-color: var(--color-flush-orange);
    border-radius: 50%;

    transition: transform 0.3s;
  }

  &__tabs-input:focus-visible+label {
    outline: 2px solid var(--color-flush-orange);
    outline-offset: 5px;

    transition: outline 0.1s, outline-offset 0.1s;
  }

  &__fly {
    position: absolute;
    transform: translate(10%, 100%);

    display: none;
    flex-direction: column;

    width: 230px;
    height: 35px;
    user-select: none;
    pointer-events: none;

    z-index: 100;
  }

  &__fly--active {
    display: flex;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }
  }

  &__fly-top {
    background: var(--gradient-main);
    border-radius: 3px 3px 0 0;

    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: var(--color-white);

    padding: 10px 10px 9px 19px;

    @include mixins.respond-to(mobileOnly) {
      font-size: 14px;
    }
  }

  &__fly-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-white);
    border-radius: 0 0 3px 3px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  }

  &__fly-isopen,
  .schemePage-map__fly-worktime {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-boulder);

    padding: 8px 5px 8px 5px;

    @include mixins.respond-to(mobileOnly) {
      font-size: 14px;
    }
  }

  &__fly-isopen {
    width: 50%;
    border-right: 1px solid var(--color-boulder);
  }

  &__fly-worktime {
    width: 50%;
  }

  &__tabs-body {
    position: relative;

    width: 100%;
    height: auto;

    margin: 59px 0 77px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 30px 0 50px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0;
    }
  }

  &__tabs-modal {
    position: fixed;
    left: 50%;
    bottom: 1.5%;

    display: flex;
    flex-direction: column;

    width: 95%;
    min-height: 110px;
    background-color: var(--color-white);
    border-radius: 3px;
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.50);

    transform: translateX(-50%) translateY(150%);
    transition: transform 0.3s;

    padding: 0 0 10px 0;
    margin: 0 auto;

    z-index: 100;

    @include mixins.respond-to(tabletOnly) {
      bottom: 0;

      width: 100%;
    }

    @include mixins.respond-to(desktopS) {
      display: none;

      user-select: none;
      pointer-events: none;
    }
  }

  &__tabs-modal--active {
    transform: translateX(-50%) translateY(0);
    transition: transform 0.3s;

    @include mixins.respond-to(desktopS) {
      display: none;

      user-select: none;
      pointer-events: none;
    }
  }

  &__modal-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--gradient-main);

    padding: 7px 5% 7px 5%;
    margin: 0 0 10px 0;
  }

  &__modal-name,
  .schemePage-map__modal-phone {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: var(--color-white);
  }

  &__modal-name {
    display: inline-block;

    width: fit-content;
    max-width: 100px;
  }

  &__modal-close {
    position: relative;

    width: 15px;
    height: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 45%;
      left: 0;

      width: 100%;
      height: 2px;
      background-color: var(--color-white);
      border-radius: 2px;

      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 45%;
      left: 0;

      width: 100%;
      height: 2px;
      background-color: var(--color-white);
      border-radius: 2px;

      transform: rotate(-45deg);
    }
  }

  &__modal-bottom {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 5% 10px 5%;
    margin: 0 0 10px 0;
  }

  &__modal-isopen {
    border-right: 1px solid var(--color-boulder);

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-boulder);

    padding: 0 13px 0 0;
  }

  &__modal-worktime {
    padding: 0 0 0 13px;
  }

  &__modal-worktime {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-boulder);
  }

  &__modal-link {
    width: 90%;

    margin: 0 5% 0 5%ж
  }

  &__tabs-item {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      overflow-x: auto;

      padding: 0 5% 0 5%;
    }

    @include mixins.respond-to(tablet) {
      & svg {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__tabs-item ::-webkit-scrollbar {
    display: none;
  }

  #tab_map_1:checked~.schemePage-map__tabs-body .schemePage-map__tabs-item--1 {
    display: block;
  }

  #tab_map_2:checked~.schemePage-map__tabs-body .schemePage-map__tabs-item--2 {
    display: block;
  }

  #tab_map_3:checked~.schemePage-map__tabs-body .schemePage-map__tabs-item--3 {
    display: block;
  }

  #tab_map_4:checked~.schemePage-map__tabs-body .schemePage-map__tabs-item--4 {
    display: block;
  }

  #tab_map_5:checked~.schemePage-map__tabs-body .schemePage-map__tabs-item--5 {
    display: block;
  }

  &__item--path {
    border: none;
    outline: none;
  }

  &__item--path:hover path {
    filter: invert(30%) sepia(7%) saturate(4585%) hue-rotate(339deg) brightness(100%) contrast(81%);

    @include mixins.respond-to(tablet) {
      cursor: pointer;
    }
  }

  &__item--path:focus-visible path {
    filter: invert(30%) sepia(7%) saturate(4585%) hue-rotate(339deg) brightness(100%) contrast(81%);
  }

  &__item--rect {
    border: none;
    outline: none;
  }

  &__item--rect:hover rect {
    filter: invert(30%) sepia(7%) saturate(4585%) hue-rotate(339deg) brightness(100%) contrast(81%);

    @include mixins.respond-to(tablet) {
      cursor: pointer;
    }
  }

  &__item--rect:focus-visible rect {
    filter: invert(30%) sepia(7%) saturate(4585%) hue-rotate(339deg) brightness(100%) contrast(81%);
  }
}