@use "../mixins";

.shopsCatalogue-item {

  background-image: -webkit-image-set(url("../img/image/design/shops-item-cover.jpg") 1x,
      url("../img/image/design/shops-item-cover@2x.jpg") 2x);

  @supports (background: -webkit-image-set(url("../img/image/design/shops-item-cover.webp") 1x,
      url("../img/image/design/shops-item-cover@2x.webp") 2x)) {
    background-image: -webkit-image-set(url("../img/image/design/shops-item-cover.webp") 1x,
        url("../img/image/design/shops-item-cover@2x.webp") 2x);
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  &__slider-block {
    border-radius: 18px;

    margin: 0 0 60px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 30px 0;
    }
  }

  &__slider {
    position: relative;

    border-radius: 18px;

    z-index: 1;
  }

  &__slider-slide {
    border-radius: 18px;
  }

  &__slider-img {
    border-radius: 18px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  &__slider-arrow {
    border: none;
    outline: none;
    cursor: pointer;

    transform: border-radius 0.1s, box-shadow 0.1s;

    z-index: 10;

    &:hover {
      border-radius: 15px;
      box-shadow: 0 0 0 3px var(--color-flush-orange);

      transform: border-radius 0.1s, box-shadow 0.1s;
    }

    &:focus-visible {
      border-radius: 15px;
      box-shadow: 0 0 0 3px var(--color-flush-orange);

      transform: border-radius 0.1s, box-shadow 0.1s;
    }
  }

  &__slider-arrow--prev {
    position: absolute;
    top: 50%;
    left: -12px;

    transform: translateY(-50%);

    @include mixins.respond-to(mobileOnly) {
      transform: scale(0.6) translateY(-50%);
    }
  }

  &__slider-arrow--next {
    position: absolute;
    top: 50%;
    right: -12px;

    transform: translateY(-50%);

    @include mixins.respond-to(mobileOnly) {
      transform: scale(0.6) translateY(-50%);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: var(--color-shark);

    margin: 0 0 30px 0;
  }

  &__info {
    display: flex;
    align-items: flex-end;

    border-bottom: 1px solid var(--color-boulder);

    padding: 0 0 30px 0;
    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
    &__info {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0 108px 0 0;

    &:nth-child(2) {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 30px 0;

      &:nth-child(2) {
        margin: 0 0 30px 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 30px 0;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
    &__info-item {
      margin: 0 0 30px 0;
    }
  }

  &__info-caption {
    display: inline-block;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-boulder);

    margin: 0 0 5px 0;
  }

  &__info-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-shark);

    @include mixins.respond-to(mobileOnly) {
      font-size: 18px;
    }
  }

  &__info-link {
    transition: color 0.3s, border-radius 0.1s, outline 0.1s, outline-offset 0.1s;

    &:hover {
      color: var(--color-flush-orange);

      transition: color 0.3s;
    }

    &:focus-visible {
      border-radius: 15px;
      outline: 2px solid var(--color-flush-orange);
      outline-offset: 5px;

      transition: border-radius 0.1s, outline 0.1s, outline-offset 0.1s;
    }
  }

  &__info-location {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 0 auto;

    @include mixins.respond-to(mobileOnly) {
      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;

      margin: 0;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
    &__info-location {
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;

      margin: 0;
    }
  }

  &__info-floor {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-shark);

    margin: 0 20px 0 0;
  }

  &__floor-number {
    display: inline-block;

    background: var(--gradient-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    font-weight: 700;
    font-size: 60px;
    line-height: 90%;

    margin: 0 5px 0 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 50px;
    }
  }

  &__description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: center;

      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 50px 0;
    }
  }

  &__description-text {
    @include mixins.respond-to(mobileOnly) {
      order: 2;
    }
  }

  &__description-text p {
    display: inline-block;

    max-width: 860px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-boulder);

    padding: 0;
    margin: 0;

    @include mixins.respond-to(mobileOnly) {
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      max-width: 500px;
    }
  }

  &__description-image {
    margin: 0 66px 0 0;

    @include mixins.respond-to(mobileOnly) {
      order: 1;

      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0;
    }
  }

  &__description-img {
    width: 164px;
    height: 167px;
    object-fit: cover;
    vertical-align: top;
  }
}