@use "../mixins";

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;

	font-family: var(--font-family-default);

	margin: 0;
}

.breadcrumbs {
	margin: 180px 0 58px 0;

	@include mixins.respond-to(mobileOnly) {
		margin: 115px 0 30px 0;
	}

	&__link {
		opacity: 0.5;

		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: var(--color-boulder);
	}

	&__current {
		background: var(--gradient-main);
		-webkit-background-clip: text;

		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}
}

// @include mixins.respond-to(mobileOnly) {
// 	::-webkit-scrollbar {
// 		-webkit-appearance: none;
// 		-webkit-overflow-scrolling: auto;
// 	}

// 	::-webkit-scrollbar:vertical {
// 		width: 10px;
// 	}

// 	::-webkit-scrollbar:horizontal {
// 		height: 10px;
// 	}

// 	::-webkit-scrollbar-thumb {
// 		background-color: var(--color-flush-orange);
// 		border-radius: 17px;
// 	}

// 	::-webkit-scrollbar-track {
// 		background-color: #ffffff;
// 		border-radius: 17px;
// 	}
// }

// @include mixins.respond-to(desktopS) {
// 	::-webkit-scrollbar {
// 		-webkit-appearance: none;
// 		-webkit-overflow-scrolling: auto;
// 	}

// 	::-webkit-scrollbar:vertical {
// 		width: 7px;
// 	}

// 	::-webkit-scrollbar:horizontal {
// 		height: 7px;
// 	}

// 	::-webkit-scrollbar-thumb {
// 		background-color: var(--color-nutmeg);
// 	}

// 	::-webkit-scrollbar-track {
// 		background-color: #ffffff;
// 	}
// }